*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marvel-device .screen {
  text-align: left;
}

.screen-container {
  height: 100%;
}

.screen-container .status-bar {
  height: 25px;
  background: #054d44;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
}

.screen-container .status-bar:after {
  content: "";
  display: table;
  clear: both;
}

.screen-container .status-bar div {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 0 0 8px;
}

.chat {
  height: calc(100% - 69px);
}

.chat-container {
  height: 100%;
}

.screen-container .user-bar {
  height: 55px;
  background: #075e54;
  color: #fff;
  padding: 0 8px;
  font-size: 24px;
}

.screen-container .user-bar:after {
  content: "";
  display: table;
  clear: both;
}

.screen-container .user-bar div {
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.screen-container .user-bar div.actions {
  float: right;
  margin: 0 0 0 20px;
}

.screen-container .user-bar div.actions.more {
  margin: 0 12px 0 20px;
}

.screen-container .user-bar div.actions.attachment i {
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.screen-container .user-bar .avatar {
  margin: 0 0 0 8px;
  width: 36px;
  height: 36px;
}

.screen-container .user-bar .avatar img {
  border-radius: 50%;
  display: block;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  width: 100%;
}

.screen-container .user-bar .name {
  font-size: 16px;
  margin: 0 0 0 8px;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.screen-container .user-bar .status {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

.screen-container .bottom-bar {
  height: 47px;
  background: #000;
  color: #fff;
  font-size: 22px;
}

.screen-container .bottom-bar div {
  width: 33.333333%;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.screen-container .bottom-bar div.triangle i {
  display: block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.screen-container .chat-window {
  height: calc(100% - 12px);
  position: relative;
  background: #e9e2d8 url("../images/wall.jpg");
  background-size: 100%;
  box-shadow: inset 0 10px 10px -10px #000000;
}

.screen-container .chat-window ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

.screen-container .chat-window ::-webkit-scrollbar-track {
  background: transparent;
}

.screen-container .chat-window ::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

.screen-container .chat-window:after {
  content: "";
  display: table;
  clear: both;
}

.screen-container .chat-window .conversation {
  height: calc(100% - 68px);
  overflow: auto;
  padding: 0 16px;
}

.screen-container .chat-window .conversation:after {
  content: "";
  display: table;
  clear: both;
}

.screen-container .chat-window .balloon {
  padding: 8px;
  position: relative;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  clear: both;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
}

.screen-container .chat-window .balloon:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.screen-container .chat-window .balloon .data {
  display: inline-block;
  padding: 0 20px 0 16px;
  font-size: 11px;
  color: #b9b9b9;
  position: relative;
  bottom: -5px;
  float: right;
  background-repeat: no-repeat;
  background-position: right 3px;
  background-color: transparent;
  background-size: 16px auto;
}

.screen-container .chat-window .balloon .data.blue {
  background-image: url("../images/blue.png");
}

.screen-container .chat-window .balloon img {
  width: 100%;
}

.screen-container .chat-window .balloon:first-child {
  margin: 16px 0 8px;
}

.screen-container .chat-window .balloon.him {
  background: #fff;
  float: left;
  border-radius: 0px 5px 5px 5px;
}

.screen-container .chat-window .balloon.him .data {
  padding: 0 0 0 16px;
}

.screen-container .chat-window .balloon.him:after {
  top: 0;
  left: -10px;
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.screen-container .chat-window .balloon.you {
  background: #e1ffc7;
  float: right;
  border-radius: 5px 0px 5px 5px;
}

.screen-container .chat-window .balloon.you:after {
  top: 0;
  right: -10px;
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
}

.screen-container .chat-window .textarea {
  width: 100%;
  z-index: 2;
  left: 0;
  position: absolute;
  bottom: 8px;
  height: 50px;
  padding: 0 0 0 8px;
  overflow: hidden;
}

.screen-container .chat-window .textarea:after {
  content: "";
  display: table;
  clear: both;
}

.screen-container .chat-window .textarea ::-webkit-input-placeholder {
  color: #b9b9b9;
}

.screen-container .chat-window .textarea ::-moz-placeholder {
  /* Firefox 19+ */
  color: #b9b9b9;
}

.screen-container .chat-window .textarea :-ms-input-placeholder {
  color: #b9b9b9;
}

.screen-container .chat-window .textarea div,
.screen-container .chat-window .textarea input {
  height: 100%;
  float: left;
  background: #fff;
}

.screen-container .chat-window .textarea input {
  width: 59%;
  border: 0;
  outline: none;
  font-size: 16px;
  color: #00897b;
  text-shadow: 0px 0px 0px #000;
  -webkit-text-fill-color: transparent;
}

.screen-container .chat-window .textarea input::-webkit-input-placeholder {
  color: none;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.screen-container .chat-window .textarea .emoticons {
  width: 10%;
  background: url("../images/smile.png") center center no-repeat #fff;
  background-size: 20px;
  border-radius: 5px 0 0 5px;
}

.screen-container .chat-window .textarea .photo {
  width: 10%;
  border-radius: 0 0 5px 0;
  position: relative;
  text-align: center;
}

.screen-container .chat-window .textarea .photo:after {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
  top: 0;
  right: -10px;
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}

.screen-container .chat-window .textarea .photo i {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #7d8488;
  font-size: 24px;
}

.screen-container .chat-window .textarea .send-mic {
  width: 17%;
  background: transparent;
  position: relative;
}

.screen-container .chat-window .textarea .send-mic .circle-cont {
  color: #fff;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #00897b;
  width: 48px;
  height: 48px;
  box-shadow: 0 1px 0 #00564d;
}

.screen-container .chat-window .textarea .send-mic .circle-cont i {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
}

@media (max-width: 768px) {
  .marvel-device.nexus5 {
    flex: none;
    padding: 0;
    max-width: none;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .marvel-device > .screen .chat {
    visibility: visible;
  }

  .marvel-device {
    visibility: hidden;
  }

  .marvel-device .status-bar {
    display: none;
  }

  .screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .screen-container .chat-window {
    height: calc(100vh - 55px);
  }
  .screen-container .chat-window .conversation {
    height: calc(100vh - 68px);
  }
}